<section class="container">

  <% @group_deals.each do |group_deal| %>
      <div class="border border-1 d-flex my-3">
        <img src="https://picsum.photos/200" width="80px">
        <h3 
          class="m-2"><%= group_deal.deal.name %> 
          <span class="d-block fs-6 fw-lighter mt-3"><%= "#{group_deal.created_at.day}/#{group_deal.created_at.month}/#{group_deal.created_at.year}" %></span>
        </h3>
        <div class="ms-auto pt-5 pe-3">
          <%= group_deal.deal.amount %> $
        </div>
      </div>
  <% end %>

  <div class="fixed-bottom mb-3 text-center">
   <%= link_to "New Deal", new_group_deal_path, class:"btn btn-success fs-3 w-75"  %>
  </div>

</section>

